@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

/* below is all the css for my weather widget */
.weatherwidget {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 6rem;
    height: 4rem;
    top: 0.75rem;
    right: 0.75rem;
    text-shadow: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.weather-data {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.current-weather-icon {
    width: 2.5rem;
    padding-right: 0.5rem;
}

.current-temp {
    font-size: 1.75rem;
}

.weather-label {
    display: flex;
    align-items: flex-end;
    padding: 0.2rem;
}

.city {
    font-size: 0.8rem;
}

.weather-full {
    visibility: hidden;
    position: absolute;
}

.weather-full.active {
    visibility: visible;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-shadow: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5rem;
    right: 0.75rem;
    width: 20rem;
    height: 11rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.weather-header {
    width: 100%;
    height: 30%;
}

.city-full, .weather-status {
    padding-left: 1rem;
    text-align: left;
}

.weather-data-expanded {
    display: inline-flex;
    width: 100%;
    height: 55%;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
}

.icon-and-temp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.full-weather-icon {
    width: 4rem;
    padding-right: 0.5rem;
    transform: translateY(-10%);
}

.full-current-temp {
    font-size: 2.5rem;
}

.more-weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 0.5rem;
}

.more-weather-data small {
    font-size: 0.75rem;
    color: lightgrey;
}

.weather-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.more-weather-link {
    text-align: left;
    padding-left: 1rem;
}
/* thus endeth weather widget */

/* starting my todo widget */
.todowidget {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0.75rem;
    right: 0.75rem;
    font-size: 1.5rem;
    width: 5rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.todo-full {
    visibility: hidden;
    position: absolute;
}

.todo-full.active {
    visibility: visible;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-shadow: none;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 4rem;
    right: 0.75rem;
    width: 20rem;
    height: 18rem;
    border-radius: 0.5rem;
    /* border-top: 0.5rem solid transparent; */
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.todo-form {
    position: absolute;
    display: flex;
}

.todo-form-bar {
    display: inline-flex;
    width: 100%;
    height: 2rem;
}

 .todo-input {
    display: flex;
    justify-content: flex-start;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 85%;
    height: 2rem;
    padding: 0 0.5rem;
    font-size: 1.25rem;
 }

 .todo-input:focus {
    outline: 2px solid black; 
    z-index: 3;
    border-radius: 0.25rem;
 }

 .todo-info {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.25rem 0.25rem 0;
    width: 15%;
 }

 .todo-info-icon {
    width: 1.25rem;
 }

 /* setting the ul inside a container so that when i use overflow-y on the list, the input stays static in the parent div. */
 .todo-ul-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 14.75rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0.25rem;
 }

 .todo-ul-container::-webkit-scrollbar {    
    width: 1.25rem;
 }

 .todo-ul-container::-webkit-scrollbar-track {    
    background: transparent;
    border-radius: 100vw;
    margin-block: 0.25rem;
 }

 .todo-ul-container::-webkit-scrollbar-thumb {    
    background: whitesmoke;
    border: 0.25rem solid black;
    border-radius: 100vw;
 }

 .todos {
    background-color: transparent;
    color: black;
    padding: 0;
    height: auto;
    border-radius: 0.25rem;
    list-style-type: none;
 }

 .todos li {
    background-color: whitesmoke;
    border-radius: 0.25rem;
    
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
 }

 .todos li:nth-child(n + 2) {
    margin-top: 0.25rem;
 }

 .todos li.completed {
    color: gray;
    text-decoration: line-through;
 }

 /* Starting the shortcuts Widget */
 .shortcuts {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0.75rem;
    left: 0.75rem;
    font-size: 1.5rem;
    width: 5rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.google {
    width: 1.5rem;
}

/* media quiries */
@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}